@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Oswald', sans-serif;;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.top{
 background-image: url('barbearia.jpg') no-repeat;

}

header{
    margin-top: 0px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
/LOGO/
.logo h2{
 
    color: white;
    font-size: 30px;
}

.logo span{
    color: rgb(199, 184, 49);
}


/FORMULÁRIO/
.area_form{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.area_form h2{
    color: #fff;
    text-align: center;
    cursor: pointer;

}

.formulario input{
    margin-left: 15px;
    height: 50px;
    border: none;
    outline: none;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 70px;
    font-family: 'Oswald';
}

input::placeholder{
    color: black;
    text-transform: uppercase;
}

input[type="submit"]{
    background-image: linear-gradient(180deg, #ffff7c 0, #ffff6f 12.5%, #fff565 25%, #ffda5c 37.5%, #f2bd53 50%, #dda14c 62.5%, #c98a46 75%, #b77642 87.5%, #a8663f 100%);
;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}

/*area cards
.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: auto;
    padding-bottom: 150px;
    background-color: rgba(255, 255, 255, 0.089);
    height: 400px;
    padding-top: 100px;
    }
    
    .section-cards h2{
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 0;
        
    }
    
    .cards{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    
    .card{
        background-color: #fff;
        width: 200px;
        height: 180px;
        margin-left: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(6, 6, 41);
        border-radius: 100%;
    }
    
    .card:hover{
        background-color: rgba(0, 0, 0, 0.363);
        color: wheat;
        transition: 0,5s all;
    }
    
    .card img{
        width: 120px;
    }*/

    /QUADRO/
    .section-cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;      
        padding-bottom:80px;
        background-color: rgba(255, 255, 255, 0.089);
        height: 400px;
        padding-top: 80px;
        }

        .section-cards h2{
            color: #fff;
        }

        .imgs_and_txt{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
            height: 200px;
            padding: 20px;
        }
        
        .imgs_and_txt img{
            width: 200px;
            height: auto;
            margin-top: 5px ;
            margin-left: 30px;
            margin-right: 10px;
            border-radius: 10%;
        
        }
        
        .imgs_and_txt_2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
            height: 200px;
            padding: 20px;
        }
        
        .imgs_and_txt_2 img{
            width: 200px;
            height: auto;
            margin-top: 5px ;
            margin-left: 30px;
            margin-right: 10px;
            border-radius: 10%;
        
        }
         
        .imgs_and_txt h1{
            font-size: 20px;
            color: white;
        }
        
        .imgs_and_txt_2 h1{
            font-size: 20px;
            color: white;
        }
        
        .imgs_and_txt p{
            margin-top: -20px ;
            color: white;
        }
        
        .imgs_and_txt_2 p{
            margin-top: -20px ;
            color: white;
        }




/PRIMEIRA SEÇÃO/
.section-1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area_title h3{
    color: white;
    font-weight: normal;
} 

.area_title h1{
    color: white;
    font-size: 45px;
    line-height: 50px;
    margin-top: -16px;
    
}

.area_title a{
    display: inline-block;
    background-color: azure;
    padding: 15px 60px;
    color: rgb(6, 6, 41);
    font-size: 20px;
}

.img-1 img{
    width: 450px;
    height: auto;
    margin-top:20px ;
    margin-left: 55px;
}


/SEGUNDA SEÇÃO/
.section-2{
    background-color: rgba(255, 255, 255, 0.089);
    display: flex;
    justify-content: center;

    margin-top: 100px;
}

.area_title_2 h3{
    color: white;
    font-weight: normal;
} 

.area_title_2 h1{
    color: white;
    font-size: 45px;
    line-height: 50px;
    margin-top: -16px;
    
}

.area_title_2 a{
    display: inline-block;
    background-color: rgb(228, 228, 228);
    padding: 15px 60px;
    color: rgb(21, 21, 116);
    font-size: 20px;
}

.video{
    width: 500px;
    height: auto;
    margin-top:20px ;
    margin-right: 55px;
}

/AVALIAÇÕES/


.trabalhadores{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    padding-top: 80px;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0; 
   
}


.secao img{
    justify-content: center;
    width: 70px;
    height: auto;
    margin-top: 5px ;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 100%;

}

.imgs_{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100px;
    padding: 0;
    padding-bottom: 50px;
}

.imgs_ img{
    width: 50px;
    height: auto;
    margin-top: 5px ;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 100%;

}

.secao h2{
    color: #fff;
    font-size: 25px;
}

.secao h3{
    text-align: center;
    color: #fff;
    font-size: 20px;
}


/FORMULÁRIO 2/
.area_form_2{
    background-color: rgba(255, 255, 255, 0.089);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.area_form_2 h2{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;

}

.formulario_2 input{
    margin-left: 15px;
    height: 50px;
    border: none;
    outline: none;
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Oswald';
}

.formulario_2 input::placeholder{
    color: black;
    text-transform: uppercase;
}

.formulario_2 input[type="submit"]{
    background-color: #7843E6;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}


/FOOTER/
.social{
    display: flex;
   
    align-items: center;
    /*flex-direction: column;*/
}

.social h3{
    padding-left: 100px;
    padding-right: 900px;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
    
}

.social span{
    font-family: 'Oswald', sans-serif;;
    
color: rgb(199, 184, 49);
}

.social p{
    color: #fff;
    font-size: 12px;

}
.social img{
    width: 80px;
    margin-left: 15px;
}